OPENWEATHER_KEY=
TOMTOM_KEY=
BOOKING_RAPID_KEY=
AVIATIONSTACK_KEY=
OPENTRIPMAP_KEY=
UNSPLASH_KEY=
GOOGLE_MAPS_API_KEY=

TBW_ADMIN_TOKEN=CHANGE_ME_STRONG_TOKEN
TBW_KILL_SWITCH=0
TBW_BLOCKED_USERS=
TBW_PREMIUM_USERS=
FOUNDER_PREMIUM_KEY=
